<nav  class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Party-App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="add">Add Party</a>
        <a class="nav-item nav-link" routerLink="list">Party List</a>
        <a *ngIf="isLoggedIn" class="nav-item nav-link" routerLink="login">Login</a>
        <a  class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>