/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 {
    text-align: center;
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 20px;
  }

  /* Style for the form container */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Style for the input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style for labels */
label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

/* Style for the error messages */
.error {
  color: red;
  font-size: 0.875rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* Style for the submit button */
button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

  